body {
    background-color: black;
    h1 {
        color: white;
    }
    color: #7ed957;
    padding-top:1.5em;
    padding-left:5.5em;
    padding-right: 5em;
    font-family: system-ui;

    h3 {
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
    }
}

#slider {
    width: 100%;
}

#stats{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3.5em;
}

#average {
    display: inline-block;
    border: 4px, solid, rgb(126, 217, 87, 0.4);
    padding-right: 3em;
    padding-left: 1em;
    font-weight: bold;
    
    
    width: 375px;
    #unit{
        opacity: 70%;
        font-size: 2.5em;
        display: block;
        margin: 10px
        
    }
    #value {
        font-size: 10em;
        display: block;
        margin-left: 85px;
        margin-right: px;
        text-align: right;
    }
}

#surgery-info {
    margin-top: 20px;
    padding: 0.5em;
    line-height: 20pt;
    color: rgba(255, 255, 255, 0.75);
    border: rgba(255, 255, 255, 0.5), 2px, solid;
    width: 430px;
}

#label {
    /* margin-left: 4em; */
    width: 84%;
}
#tracker {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 0.5em;
    /* margin-right: 4em; */
}

#percent, #time-label {
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px;
    margin-right: 4em;
    color: rgba(255, 255, 255, 0.75);
}

#time-label {
    text-align: right;  
    color: rgba(255, 255, 255, 0.75);
}

#slider {
    -webkit-appearance: none;
    border-radius: 10px;
    margin-left: 1.25em;
    margin-right: 1em;
    width: 92%;
    height: 10px;
    opacity: 85%
    
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(126, 217, 87);
}

.legend {
    color: white;
    opacity: 75%;
    display: flex;
    gap: 6px;  
    margin-block: 20px;
    width: 100%;
    align-content: center;
    flex: 1;
    padding-left: 1em;
    margin-top: 1em;
    
}


#low {
    background-color: rgba(0, 0, 255, 0.2);
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /* padding: 8px 70px; */
    border: rgba(0, 0, 255, 0.15), 2px solid; 
    
}
#resting {
    background-color: rgba(0, 255, 0, 0.2);
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: rgba(0, 255, 0, 0.15), 2px solid; 
    
}



#moderate {
    background-color: rgba(255, 255, 0, 0.2);   
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: rgba(255, 255, 0, 0.15), 2px solid; 
}

#high {
    background-color: rgb(255, 0, 0, 0.2);
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: rgb(255, 0, 0, 0.15), 2px solid; 
}